//@import "../../../assets/sass/sections";

.mysection{
    font-size:20px;
    //width: 100%;
    padding: 0px 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    //padding: 5px
    .btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        button{
            width: 36%;
            height: 41px;
            border-radius: 30px;
            text-align: center;
            padding: 0 10px;
            color: rgba(0, 0, 0, 0.616);
            font-size: 16px;
            -webkit-box-shadow: 0px 0px 4px 0.6px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 4px 0.6px rgba(0,0,0,0.3);
            border: 0px;
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;
        }
    }
    img{
        width: 25%;
        height: auto;
        margin: 10px;
        border-radius: 20px;
    }
    .text{
        width: 65%;
        
        margin: 10px;
        h3{
            margin: 0;
            padding: 0;
            font-size: 20px;
            //font-size: 20px;
        }
        p{
            font-size: 15px;
            color: gray;
        }
        span{
            font-size: 17px;
        }
        .chosen{
            display: flex;
            flex-direction: row;
            //justify-content: center;
            align-items:center;
            font-size:13px;
            span{
                background-color:rgb(199, 197, 197);
                border-radius: 15px;
                padding: 5px 10px;
                font-size: 13px;
                margin: 0px 10px 0px 0 ;
                color: rgb(99, 98, 98);
            }
        }
        
    }
    
}