ul{
    display:flex;
    flex-direction:row;
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        padding:10px 20px 10px 0;
        a{
            color:rgb(20, 26, 114);
            text-decoration:none;
            &:hover,&:focus{
                text-decoration: none;
                color:orange;
            }
        }
    }
}