//colors
$white: #ffffff;
$port-gore: #232946; // navy - used for background
$mirage: #201A31; //black - used for texts
$cream-can: #F2C94C; //yellow - used for buttons
$periwinkle-gray: #D4D8F0;
$Mirage: #201A31; //dark navy - used for texts
$mine-shaft: #333333; //dark gray - used for texts
$Amaranth: #ef4152; //red - used for alert
$Pastel-green: #87e791; //green - used for confirm
$pale-blue: #bbebee; // blue - used for table dashboard
$dark-gray: #6f7284;
$bronze: #cd7f32; // bronze - used for profile pic